body {
  background-image: url(../images/space.png);
  background-size: 92em;
  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

#yomogi {
  font-family: "Yomogi"
}

.asteroid1 {
  width: 79px;
  height: 75px;
  position: absolute;
  filter: invert(100%);
  left: 48%;
  bottom: 110%;
}

header {
  position: relative;
}

header h1 {
  text-align: center;
  position: relative;
  animation-name: dropdown;
  animation-duration: 0.3s;
  animation-timing-function: ease-out;
}

@keyframes dropdown {
  from {
    transform: translateY(-100px);
  } to {
    transform: translateY(0px);
  }
}

body h2 {
  text-align: center;
}

body h3 {
  text-align: center;
}

body p {
  text-align: center;
}

section.navbar ul {
  list-style-type: none;
  color: black;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #BDE0FE;
}
section.navbar li {
  float: left;
  border-right: 1px solid black;
}
section.navbar li:last-child {
  border-right: none;
}
section.navbar li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition: background-color 0.5s;
}
section.navbar li a:hover {
  background-color: #829bb0;
  font-style: italic;
}
section.navbar li a:visited {
  color: black;
}
section.navbar .active {
  font-weight: bold;
  color: black;
}

section#section2 .aboutme {
  line-height: 60%;
}
section#section2 .shortbr {
  display: block;
  margin: 6px 0;
}
section .abtmehead {
  margin: auto;
  border-bottom: 3px solid #FFAFCC;
  width: 145px;
}
section#section2 .me {
  display: block;
  width: 290px;
  height: 400px;
  border: 2px solid white;
  margin: auto;
  border-radius: 25px;
}
section .flexbox {
  display: flex;
  flex-direction: column;
  align-content: center;
  text-align:center;
  border: 2px solid white;
  border-radius: 5px;
  width: 525px;
  margin: auto;
}
section .flexbox img {
  height: 250px;
  width: 400px;
  margin: auto;
}
section .flexbox p {
  margin: 0.4px;
}
section .comment {
  font-size: 10px;
}
section a {
  text-decoration: none;
  color: white;
}
section .certifications img {
  height: 250px;
  width: 250px;
}
section .moreFlexBox {
  display: flex;
  flex-direction: row;
  width: 1200px;
  justify-content: space-evenly;
  margin: auto;
}
section #flexbox2 {
  height: 393px;
  /* I had to get VERY close to my monitor to line those up */
}

footer .footerHr {
  width: 75%;
}
#resume {
  text-align: center;
}