$color1: #CDB4DB;
$color2: #FFC8DD;
$color3: #FFAFCC;
$color4: #BDE0FE;
$color5: #A2D2FF;

body {
    background-color: #AAAAAA;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
    h1 {
        text-align: center;
        position: relative;
        animation-name: dropdown;
        animation-duration: 1s;
        animation-timing-function: ease-out;
    }

    @keyframes dropdown {
        from {
            transform: translateY(-100px);
        }
        to {
            transform: translateY(0px);
        }
    }
}

body {
    h2 {
        text-align: center;
    }
    p {
        text-align: center
    }
}

section {
    .navbar {
        ul {
            list-style-type: none;
            color: black;
            margin: 0;
            padding: 0;
            overflow: hidden;
            background-color: $color4;
        }

        li {
            float: left;
            border-right: 1px solid black;
        }

        li:last-child {
            border-right: none;
        }

        li a {
            display: block;
            color: black;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
            transition: background-color 0.5s;
        }

        li a:hover {
            background-color: #829bb0;
            font-style: italic;
        }

        li a:visited {
            color: black;
        }

        .active {
            font-weight: bold;
            color: black;
        }
    }
}